<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('partials/header.ejs')%>
    
    <div id="main-container">
        <%if(locals.cityName){%>
            <div id="main-title-container">
                <h1 id="main-title">Weather at <%=locals.cityName%></h1>
            </div>
            <%}else{%>
                <h1 id="main-title">Welcome</h1>
            <%}%>
        <div id="main-space">
            <div id="left-side">
                <div id="fiveDay-title">
                    <div id="fiveDay-title-text">
                        <h2>Five day </h2>
                        <h3 id="daily-time">forecast for <%=locals.fiveWeather[0].time%></h3>    
                    </div>
                    <select id="forecast-time">
                        <option value="" disabled selected hidden>Select a time</option>
                        <%for(let i=0; i<24; i+=3){%>
                            <option value="<%=i%>"><%=i%>:00</option>
                        <%}%>
                    </select> 
                </div>
                <div id="fiveDay-container">
                    <%if(locals.fiveWeather){%>
                        <%for(let i=0; i<locals.fiveWeather.length; i++){%>
                            <div class="one-day one-day-<%=i%>">
                                <div class="one-day-icon">
                                    <img src="https://openweathermap.org/img/wn/<%=locals.fiveWeather[i].icon%>@2x.png" alt="Weather icon">
                                </div>
                                <div class="one-day-dow">
                                    <p><%=locals.fiveWeather[i].dow%></p>
                                </div>
                                <div class="one-day-temp">
                                    <p><span class="temp-data"><%=locals.fiveWeather[i].temp%></span><span class="degree-symbol">&deg;</span></p>
                                </div>
                            </div>
                        <%}%>
                    <%}else if(locals.error){%>
                        <p>Error<%locals.error%></p>
                    <%}%>
                </div>
                <div class="daily-container">
                    <div id="daily-title">
                        <div id="daily-title-text">
                            <h2>Daily forecast</h2>
                            <h3> for the 25/9</h3>
                        </div>
                    </div>
                    <div class="daily-info-container">
                        

                    </div>
                </div>
            </div>
            <div id="right-side">
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>   

    <div id="weatherData" data-weather='<%- JSON.stringify(locals.fiveWeather) %>' style="display: none;"></div>
    <script src="/scripts.js"></script>
    <script src="/autoCompleteCities.js"></script>
</body>
</html>