<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('partials/header.ejs')%>
    
    <div id="main-container">
        <%if(locals.cityName){%>
            <div id="main-title-container">
                <h1 id="main-title">Weather at <span id="main-title-text"><%=locals.cityName%></span></h1>
            </div>
            <%}else{%>
                <h1 id="main-title">Welcome</h1>
            <%}%>
        <div id="main-space">
            <div id="left-side">
                <div id="fiveDay-title">
                    <div id="fiveDay-title-text">
                        <h2>Five day </h2>
                        <h3 id="daily-time">forecast for <%=locals.fiveWeather[0].time%></h3>    
                    </div>
                    <select id="forecast-time">
                        <option value="" disabled selected hidden>Select a time</option>
                        <%for(let i=0; i<24; i+=3){%>
                            <option value="<%=i%>"><%=i%>:00</option>
                        <%}%>
                    </select> 
                </div>
                <div id="fiveDay-container">
                    <%if(locals.fiveWeather){%>
                        <%for(let i=0; i<locals.fiveWeather.length; i++){%>
                            <div class="one-day one-day-<%=i%>">
                                <div class="one-day-icon">
                                    <img src="https://openweathermap.org/img/wn/<%=locals.fiveWeather[i].icon%>@2x.png" alt="Weather icon">
                                </div>
                                <div class="one-day-dow">
                                    <p><%=locals.fiveWeather[i].dow%></p>
                                </div>
                                <div class="one-day-temp">
                                    <p><span class="temp-data"><%=locals.fiveWeather[i].temp%></span><span class="degree-symbol">&deg;</span></p>
                                </div>
                            </div>
                        <%}%>
                    <%}else if(locals.error){%>
                        <p>Error<%locals.error%></p>
                    <%}%>
                </div>
                <div class="daily-container">
                    <div id="daily-title">
                        <div id="daily-title-text">
                            <h2>Daily forecast</h2>
                            <h3> for the <%=locals.dailyWeather[0].date%></h3>
                        </div>
                        <div id="daily-input-options">
                            <select id="daily-date" class="daily-select">
                                <option value="" disabled selected hidden>Select date</option>
                                <%for(let i = 0; i<locals.dateOptions.length; i++){%>
                                    <option value="<%=locals.dateOptions[i]%>"><%=locals.dateOptions[i]%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div id="daily-info-container">
                        <div id="daily-info-buttons">
                            <button value="temp" class="button-clicked" >Temperature</button>
                            <button value="humidity" >Humidity</button>
                            <button value="wind" >Wind</button>
                        </div>
                        <canvas id="myChart" width="150" height="150"></canvas>


                    </div>
                </div>
            </div>
            <div id="right-side">
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>   

    <div id="weatherData" data-weather='<%- JSON.stringify(locals.fiveWeather) %>' style="display: none;"></div>
    <div id="dailyWeatherData" daily-data-weather='<%- JSON.stringify(locals.dailyWeather) %>' style="display: none;"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/createGraph.js"></script>
    <script type="module" src="/scripts.js"></script>
    <script src="/autoCompleteCities.js"></script>

    <script type="module" id="graph-craetor">
        import { createGraph } from '/createGraph.js';

        // You could directly invoke createGraph here or wait for the DOM content to be fully loaded
        document.addEventListener('DOMContentLoaded', function() {
            const feature = '<%= locals.dailyFeature %>'; // Assuming you passed 'feature' from your server-side code
            createGraph(feature);
        });
    </script>

</body>
</html>